<!DOCTYPE html>
<html>
  <head>
    <title>Bingo</title>
  </head>
  <body>
    <button type="button" onclick="addPlayer()">add game</button>
    <button type="button" onclick="start()">start game</button>
    <h4>遊戲人數 : </h4>
    <div id="playerCount"></div>
    <!--  load the socket.io-client -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>